@page
@model MvcRoom.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Style)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Style)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Features)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Door Design</th>
                    <th>Inside</th>
                </tr>
                @foreach (var item in Model.Room.Features)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Door.Design)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inside)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
